<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlw.cn.dao.ExaminationDao">

<!--    根据试卷号显示试题-->
    <select id="selctTestId" parameterType="string" resultType="java.lang.String">
        SELECT test_id FROM testpaper WHERE test_url=#{value} AND test_isdelete=1
    </select>
    <select id="selectTestPaper" parameterType="string" resultType="com.hlw.cn.pojo.Question">
        SELECT * FROM test_question WHERE question_testid=#{value} AND question_isdelete=1
    </select>
    <select id="selectSingle" parameterType="string" resultType="com.hlw.cn.pojo.Question">
        SELECT * FROM options WHERE question_id=#{value}
    </select>

<!--    查询试卷标题-->
    <select id="selctTestTitle" parameterType="string" resultType="java.lang.String">
        SELECT test_title FROM testpaper WHERE test_url=#{value} AND test_isdelete=1
    </select>

<!--插入考生信息-->
    <insert id="insertExamination" parameterType="com.hlw.cn.pojo.Examinee">
        INSERT INTO examinee(examinee_id,examinee_name,examinee_phone,examinee_createtime,examinee_isdelete)
            VALUES (examineeId,examineeName,examineePhone,examineeCreatetime,examineeIsdelete)
    </insert>


<!--    插入考生信息-->
    <insert id="insertExamintionAnswer" parameterType="com.hlw.cn.pojo.ExamAnswer">
        INSERT INTO examanswer(examanswer_id,examanswer_testid,examanswer_phone,examanswer_trueanswer,examanswer_examineeanswer,examanswer_score,examanswer_questionid,examanswer_creattime,examanswer_isdelete)
            VALUES (examanswerID,examanswerTestid,examanswerPhone,examanswerTrueanswer,examanswerExamineeanswer,examanswerScore,examanswerQuestionid,examanswerCreattime,1)
    </insert>
    
<!--    插入最终成绩-->
    <insert id="insertFinallyScore" parameterType="com.hlw.cn.pojo.Examinee">
        INSERT INTO examinee(examinee_score) WHERE examinee_phone=#{examineePhone} AND examinee_isdelete=#{examineeIsdelete}
    </insert>
</mapper>
