<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--负责人：代朋-->
<mapper namespace="com.hlw.cn.dao.QuestionBankDao">

<!--    插入分类-->
   <insert id="insertClassify" parameterType="com.hlw.cn.pojo.Classify" >
       INSERT INTO classify(classify_id,classify_name,classify_acc,classify_createtime,classify_isdelete)
                VALUES (#{classifyID},#{classifyName},#{classifyAcc},#{classifyCreatetime},#{classifyIsdelete})
   </insert>

<!--    修改分类-->
    <update id="updateClassify" parameterType="com.hlw.cn.pojo.Classify">
        UPDATE classify SET classify_name=#{classifyName} WHERE classify_id=#{classifyId}
    </update>

<!--    查询分类-->

    <select id="queryClassify" resultType="com.hlw.cn.pojo.Classify">
        SELECT * FROM classify
        <where>
            <if test="classify_name !=null and classify_name !=''">
                AND classify_name=#{name}
            </if>
        </where>
    </select>

<!--    删除分类-->
    <delete id="deleteClassify" parameterType="String">
        DELETE FROM classify WHERE classify_id=#{value}
    </delete>



<!--    添加试题-->
    <insert id="insertQuestion1" parameterType="com.hlw.cn.pojo.Question">
            INSERT INTO question(question_id,question_topic,question_score,question_answer,question_classify,question_acc,question_createtime,question_isdelete,question_type)
                VALUES (questionId,questionTopic,questionScore,questionAnswer,questionClassify,questionAcc,questionCreatetime,questionIsdelete,questionType)
    </insert>
    <insert id="insertQuestion2" parameterType="com.hlw.cn.pojo.Question">
            INSERT INTO options(question_id,single_a,single_b,single_c,single_d)
                VALUES(questionId,singleA,singleB,singleC,singleD)
    </insert>


<!--    修改试题-->
    <update id="updateQuestion1" parameterType="com.hlw.cn.pojo.Question">
        UPDATE question SET question_topic=#{questionTopic},question_score=#{questionScore},question_answer=#{questionAnswer}
            WHERE question_id=#{questionId}
    </update>
    <update id="updateQuestion2" parameterType="com.hlw.cn.pojo.Question">
        UPDATE options SET single_a=#{singleA},single_b=#{singleB},singlec=#{singleC},singleD=#{singleD}
            WHERE question_id=#{questionId}
    </update>

<!--    删除试题-->
    <update id="deleteQuestion" parameterType="String">
        UPDATE question SET question_isdelete=#{0} WHERE question_id=#{value}
    </update>
    
<!--    查询一个试题-->
    <select id="queryQuestionOne1" parameterType="String" resultType="com.hlw.cn.pojo.Question">
        SELECT * FROM question WHERE question_id=#{value}
    </select>
    <select id="queryQuestionOne2" parameterType="String" resultType="com.hlw.cn.pojo.Question">
        SELECT * FROM options WHERE question_id=#{value}
    </select>
    
</mapper>
